In [5]:
import pandas as pd # 판다스 라이브러리 불러오기

names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names','Births'])

# 데이터 프레임의 상단 부분을 출력합니다.
df.head()

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
# 데이터 프레임의 열 타입 정보를 출력합니다.
df.dtypes

Names     object
Births     int64
dtype: object

In [2]:
# 데이터 프레임의 인덱스 정보입니다.
df.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
# 데이터 프레임의 열의 형태 정보입니다.
df.columns

Index(['Names', 'Births'], dtype='object')

In [7]:
# 데이터 프레임에서 하나의 열을 선택합니다.
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [8]:
# 0-3번째 인덱스를 선택합니다
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [11]:
# Births 열이 100보다 큰 데이터를 선택합니다.
df[df['Births']> 100]

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973