In [1]:
# 판다스 라이브러리 불러오기
import pandas as pd

# 시리즈 클래스

시리즈 Series 클래스는 넘파이에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 의미를 표시하는 인덱스(index)를 붙일 수 있다. 데이터 자체는 값(value)라고 한다.

시리즈 = 값(value) + 인덱스(index)

# 시리즈 생성 - pd.Series(array, index)

데이터를 리스트나 1차원 배열 형식으로 Series 클래스 생성자에 넣어주면 시리즈 클래스 객체를 만들 수 있다. 이 때 인덱스의 길이는 데이터의 길이와 같아야 한다. 다음 예에서 이 “서울”, “부산” 등의 문자열이 인덱스의 값이다. 인덱스의 값을 인덱스 라벨(label)이라고도 한다. 인덱스 라벨은 문자열 뿐 아니라 날짜, 시간, 정수 등도 가능하다.

다음 예제는 각 도시의 2015년 인구 데이터를 시리즈로 만든 것이다.

In [4]:
s = pd.Series([9904321, 3448737, 2890451, 2466052],
             index = ["서울","부산","인천","대구"])
s

서울    9904321
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
# 만약 인덱스를 지정하지 않고 시리즈를 만들면 시리즈 인덱스는 0부터 시작하는 정수값이 된다.
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

시리즈의 인덱스는 index 속성으로 접근할 수 있다. 시리즈의 값은 1차원 배열이며 values 속성으로 접근할 수 있다.

In [6]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904321, 3448737, 2890451, 2466052], dtype=int64)

name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있다. index.name 속성으로 시리즈의 인덱스에도 이름을 붙일 수 있다.

In [8]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904321
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

# 시리즈 연산
넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있다. <br>
다만 연산은 시리즈의 값에만 적용되며 인덱스 값은 변하지 않는다. <br> 
예를 들어, 인구 숫자를 백만 단위로 만들기 위해 시리즈 객체를 1,000,000 으로 나누어도 인덱스 라벨에는 영향을 미치지 않는 것을 볼 수 있다.

In [9]:
s / 1000000

도시
서울    9.904321
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

# 시리즈 인덱싱
시리즈는 넘파이 배열에서 가능한 인덱스 방법 이외에도 인덱스 라벨을 이용한 인덱싱도 할 수 있다.<br>
배열 인덱싱이나 인덱스 라벨을 이용한 슬라이싱(slicing)도 가능하다.<br>

시리즈 데이터를 인덱싱하면 값이 나온다.

In [13]:
s[1], s["부산"]

(3448737, 3448737)

In [14]:
s[3], s["대구"]

(2466052, 2466052)

In [15]:
s[["서울","대구","부산"]]

도시
서울    9904321
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [16]:
s[(250e4 < s) & (s < 500e4)] # 인구가 250만 초과, 500만 미만인 경우

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

슬라이싱을 해도 부분적인 시리즈를 반환한다. 이 때 문자열 라벨을 이용한 슬라이싱을 하는 경우에는 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함되므로 주의해야 한다.

슬라이싱을 해도 부분적인 시리즈를 반환한다.<br> 이 때 문자열 라벨을 이용한 슬라이싱을 하는 경우에는 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함되므로 주의해야 한다.

In [19]:
# 두번째(1)부터 세번째(2)까지 (네번째(3) 미포함)
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [22]:
# 부산에서 대구까지 (대구 포함됨)
s["부산":"대구"]

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

만약 라벨 값이 영문 문자열인 경우에는 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있다.

In [23]:
s0 = pd.Series(range(3), index = ["a","b","c"])
s0

a    0
b    1
c    2
dtype: int64

In [24]:
s0.a

0

In [25]:
s0.b

1

# 시리즈와 딕셔너리 자료형
시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 같다고 볼 수 있다. <br>따라서 딕셔너리 자료형에서 제공하는 in 연산도 가능하고 items 메서드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있다.

In [26]:
"서울" in s # 인덱스 라벨 중에서 서울이 있는가

True

In [28]:
"대전" in s

False

In [29]:
for city, popul in s.items():
    print("%s = %d" % (city, popul))

서울 = 9904321
부산 = 3448737
인천 = 2890451
대구 = 2466052

또 딕셔너리 객체에서 시리즈를 만들 수도 있다.<br> 이번에는 2010년의 인구 자료를 s2라는 이름의 시리즈로 만들어 보자. 이 데이터에는 대구의 인구 자료는 없지만 대신 대전의 인구 자료가 포함되어 있다.

In [30]:
s2 = pd.Series({"서울" : 9631482, "부산" : 3393191, "인천" : 2632035, "대전" : 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [31]:
s2 = pd.Series({"서울" : 9631482, "부산" : 3393191, "인천" : 2632035, "대전" : 1490158}
              , index = ["부산","서울","인천","대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

# 인덱스 기반 연산
이번에는 2015년도와 2010년의 인구 증가를 계산해 보자. 두 개의 시리즈의 차이를 구하면 된다. 두 시리즈에 대해 연산을 하는 경우 인덱스가 같은 데이터에 대해서만 차이를 구한다.

In [36]:
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [37]:
s

도시
서울    9904321
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [38]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272839.0
인천    258416.0
dtype: float64

In [39]:
s.values - s2.values

array([ 6511130, -6182745,   258416,   975894], dtype=int64)

대구와 대전의 경우에는 2010년 자료와 2015년 자료가 모두 존재하지 않기 때문에 계산이 불가능하므로 NaN(Not a Number)이라는 값을 가지게 된다.<br> 또한 NaN 값이 float 자료형에서만 가능하므로 다른 계산 결과도 모두 float 자료형이 되었다는 점에 주의한다.<br>
NaN이 아닌 값을 구하려면 notnull 메서드를 사용한다.

In [40]:
pd.notnull(ds)

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [41]:
ds[ds.notnull()]

부산     55546.0
서울    272839.0
인천    258416.0
dtype: float64

In [42]:
# 인구 증가율
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832783
인천    9.818107
dtype: float64

# 데이터 갱신, 추가, 삭제

In [47]:
# 데이터 갱신
rs["부산"] = 1.63
rs

부산    1.630000
서울    2.832783
인천    9.818107
dtype: float64

In [48]:
# 데이터 추가
rs["대구"] = 1.41
rs

부산    1.630000
서울    2.832783
인천    9.818107
대구    1.410000
dtype: float64

In [49]:
# 데이터 삭제
del rs["서울"]
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

In [50]:
temp1 = pd.Series([0,1,2,3], index = [0,1,2,3])
temp2 = pd.Series([4,5,6,7], index = [0,1,2,3])

In [51]:
temp1 + temp2

0     4
1     6
2     8
3    10
dtype: int64

In [52]:
temp1 - temp2

0   -4
1   -4
2   -4
3   -4
dtype: int64

In [53]:
temp1 * temp2

0     0
1     5
2    12
3    21
dtype: int64

In [54]:
temp1 / temp2

0    0.000000
1    0.200000
2    0.333333
3    0.428571
dtype: float64