샘플 데이터로 활용할 csv 파일을 %%writefile 매직(Magic) 명령으로 만든다. <br>
이 %%writefile 명령은 셀에 서술한 내용 그대로 텍스트 파일을 만드는 명령이다.

In [11]:
%%writefile sample.csv
c1, c2, c3
1,1, one
2, 2.22, two
3, 3.33, three

Overwriting sample.csv

# CSV 파일입력
CSV 파일로부터 데이터를 읽어 데이터프레임을 만들 때는 pandas.read_csv 함수를 사용한다. 함수의 입력값으로 파일 이름을 넣는다.

In [12]:
import pandas as pd
pd.read_csv('sample.csv')

   c1    c2      c3
0   1  1.00     one
1   2  2.22     two
2   3  3.33   three

위에서 읽은 데이터에는 열 인덱스는 있지만 행 인덱스 정보가 없으므로 0부터 시작하는 정수 인덱스가 자동으로 추가되었다. <br>

만약 데이터 파일에 열 인덱스 정보가 없는 경우에는 read_csv 명령의 names 인수로 설정할 수 있다.

In [13]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [18]:
pd.read_csv('sample2.csv', names = ['c1','c2','c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

만약 테이블 내의 특정한 열을 행 인덱스로 지정하고 싶으면 index_col 인수를 사용한다.

In [20]:
pd.read_csv('sample.csv', index_col='c1')

      c2      c3
c1
1   1.00     one
2   2.22     two
3   3.33   three

확장자가 CSV가 아닌 파일 즉, 데이터를 구분하는 구분자(separator)가 쉼표(comma)가 아니면 sep 인수를 써서 구분자를 사용자가 지정해준다. <br>만약 길이가 정해지지 않은 공백이 구분자인 경우에는 \s+ 정규식(regular expression) 문자열을 사용한다.

%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

In [23]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

만약 자료 파일 중에 건너 뛰어야 할 행이 있으면 skiprows 인수를 사용한다.

In [24]:
%%writefile sample4.txt
파일 제목 : sample4.txt
데이터 포맷의 설명 : 
c1, c2, c3
1, 1.11, one
2, 2.22, twp
3, 3.33, three

Writing sample4.txt

In [25]:
pd.read_csv('sample4.txt', skiprows=[0,1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     twp
2   3  3.33   three

특정한 값을 NaN으로 취급하고 싶으면 na_values 인수에 NaN 값으로 취급할 값을 넣는다.

In [27]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [29]:
df = pd.read_csv('sample5.csv', na_values=["누락"])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three